.navbar.navbar-inverse {
    background-color: #824E71;
}

#elementID {
    color: #fff;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
}

.navbar-inverse .navbar-brand {
    color: lightgray;
}

.navbar-inverse .navbar-nav > li > a {
    color: lightgray;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: orange;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: orange;
}

body {
    background: url('https://image.freepik.com/free-photo/blue-purple-sky-sunset-clouds-beauty-natural-background_37129-586.jpg') no-repeat fixed center center;
    background-size: cover;
    font-family: Montserrat;
}

.logo {
    width: 213px;
    height: 36px;
    background: url('') no-repeat;
    margin: 30px auto;
    margin-top:200px;
}

.login-block {
    width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #ff656c;
    margin: 0 auto;
}

.cntBg {
    width: 320px;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #ff656c;
    margin: 0 auto;
    margin-top:10px;
}

.login-block h1 {
    text-align: center;
    color: #ff656c;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: Montserrat;
}

.cntBg h4 {
    text-align: center;
    color: #ff656c;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 5px;
    font-family: Montserrat;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
}

.login-block select {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
}

.cntBg input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
}
.cntBg input#nazivD {
    background: #fff url('https://image.flaticon.com/icons/svg/2075/2075097.svg') 18px no-repeat;
    background-size: 18px 26px;
}

.cntBg input#nazivD:focus {
    background: #fff url('https://image.flaticon.com/icons/svg/2075/2075097.svg') 18px no-repeat;
    background-size: 18px 26px;
}
.cntBg input#drzava {
    background: #fff url('https://image.flaticon.com/icons/svg/2075/2075365.svg') 18px no-repeat;
    background-size: 18px 26px;
}

.cntBg input#drzava:focus {
    background: #fff url('https://image.flaticon.com/icons/svg/2075/2075365.svg') 18px no-repeat;
    background-size: 18px 26px;
}
.cntBg input#nazivA {
    background: #fff url('https://image.flaticon.com/icons/svg/1077/1077903.svg') 18px no-repeat;
    background-size: 18px 26px;
}

.cntBg input#nazivA:focus {
    background: #fff url('https://image.flaticon.com/icons/svg/1077/1077903.svg') 18px no-repeat;
    background-size: 18px 26px;
}
.cntBg input#kodA {
    background: #fff url('https://image.flaticon.com/icons/svg/1077/1077903.svg') 18px no-repeat;
    background-size: 18px 26px;
}

.cntBg input#kodA:focus {
    background: #fff url('https://image.flaticon.com/icons/svg/1077/1077903.svg') 18px no-repeat;
    background-size: 18px 26px;
}
.cntBg input#lokacija {
    background: #fff url('https://image.flaticon.com/icons/svg/2075/2075221.svg') 18px no-repeat;
    background-size: 18px 26px;
}

.cntBg input#lokacija:focus {
    background: #fff url('https://image.flaticon.com/icons/svg/2075/2075221.svg') 18px no-repeat;
    background-size: 18px 26px;
}

.login-block input#username {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#username:focus {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#ime {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#ime:focus {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#prezime {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#prezime:focus {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#password {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#email {
    background: #fff url('https://cdn1.iconfinder.com/data/icons/hawcons/32/699049-icon-6-mail-envelope-closed-512.png') 18px no-repeat;
    background-size: 18px 26px;
}

.login-block input#email:focus {
    background: #fff url('https://cdn1.iconfinder.com/data/icons/hawcons/32/699049-icon-6-mail-envelope-closed-512.png') 18px no-repeat;
    background-size: 18px 26px;
}

.login-block input#telefon {
    background: #fff url('https://cdn0.iconfinder.com/data/icons/mayssam/512/smartphone-512.png') 20px no-repeat;
    background-size: 18px 21px;
    background-position: 19px;
}

.login-block input#telefon:focus {
    background: #fff url('https://cdn0.iconfinder.com/data/icons/mayssam/512/smartphone-512.png') 20px no-repeat;
    background-size: 18px 21px;
    background-position: 19px;
}

.login-block input#password:focus {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #ff656c;
}

.login-block button {
    width: 100%;
    height: 40px;
    background: #ff656c;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e15960;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}

.login-block button:hover {
    background: #ff7b81;
}
.reg{
    margin-top: 160px;
}
.obrisiKlasa{
    width: 100%;
    height: 40px;
    background: #ff656c;
}
.orgBtn {
    width: 100%;
    height: 40px;
    background: #ff656c;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e15960;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}

.orgBtn:hover {
    background: #ff7b81;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
.font{
	font-family: 'Roboto', sans-serif;
	color : lightgray;
}

.organizacije{
	margin-top:150px;
}
.organizacije1{
	margin-top:80px;
}


     
      .organiz body{
      background: #ff7b81;
      font-family: 'Roboto', sans-serif;
      overflow-x: hidden;
      }
      .organiz h6{
      color: #000;
      padding: 0;
      margin-top: 25px;
      }
      .organiz h3{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-size:22px;
      }
      .organiz h5{
      font-size: 16px;
      padding-top: 5px;
      }
      .organiz h4 span{
      font-size: 20px !important;
      }
      .organiz p{
        margin: 0;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size:14px;
        word-wrap: break-word;
    }
    
      .organiz ul{
      list-style-type: none;
      }
      .organiz ul li a{
      height: 10px;
      width: 10px;
      position: absolute;
      background: red;
      }
      .organiz ul li a:nth-child(3){
      background: green;
      }
      .organiz .btn-custom{
      background:#824E71;
      color: #fff; 	
      }
      .organiz .btn-custom:hover{
      background:#E59866;
      color: #fff; 	
      }
      .organiz .color-group {
      width: 5%;
      float: left;
      display: inline-block;
      display: -webkit-inline-box;
      padding-top: 5px;
      }
      .organiz .color-block {
      float: left;
      position: relative;
      width: 100%;
      margin: 1px;
      padding-bottom: 100%;
      }
      .organiz .fa{
      font-size: 30px;
      padding: 10px;
      }
      .organiz .fa-edit{
      color: #007bff;
      }
      .organiz .fa-trash-o{
      color: #dc3545;
      }
      .organiz .fa-archive{
      color: #dc3545;
      }
      .organiz .effects{
      border: 1px solid #fff;
      background: #fff;
      color: #888f96;
      }
      .organiz .effects:hover{
      background: #f7f3f3;
      transition: .4s;
      color: #000;
      cursor: pointer;
      transform: scale(1.03);
      border: 1px solid #f7f3f3;
      border-radius: 8px;
      }
    
      @media(max-width: 768px){
      .organiz .effects{
      text-align: center;
      margin: 20px;
      }
      .organiz .color-group{
      margin-right: 27%;
      float: none;
      text-align: center;
      }
      .organiz h2{
      text-align: center;
      color:#824E71;
      }
      .organiz .pull-right{
      float: none;
      text-align: center;
      display: block;
      margin: 20px auto;
      }
    }
      @media (max-width: 576px){
      .organiz .container {
      max-width: 90%;
      margin-top: 150px;
      }
      
      .organiz .effects{
      background: #e8e8e852;
      border-radius: 8px;
      margin: 10px;
      }
      .organiz.col-md-3 h4:nth-child(1){
      padding-top: 10px;
      font-size: 20px;
      }
      
      #bootstrap-overrides .col-md-3{
          position:relative;
          min-height:90px;
          flex: 0 0 25%;
          max-width: 25%;
      }
    
      .organiz.fa{
      padding: 5px;
     
      }
      .organizimg{
      width: 45%;
      }
      .organizh5{
      font-size: 14px;
      }
      .organizh3{
      font-size: 15px;
      }
      .organiz.color-group{
      padding-top: 10px;
      padding-bottom: 10px;
      }
      }
.preview
{
    padding: 10px;
    position: relative;
}

.preview i
{
    color: white;
    font-size: 35px;
    transform: translate(50px,130px);
}

.preview-img
{
    border-radius: 100%;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.7);
}

.browse-button
{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: absolute; /* Tweak the position property if the element seems to be unfit */
    top: 10px;
    left: 132px;
    background: linear-gradient(180deg, transparent, black);
    opacity: 0;
    transition: 0.3s ease;
}

.browse-button:hover
{
    opacity: 1;
}

.browse-input
{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    transform: translate(-1px,-26px);
    opacity: 0;
}

.file-upload-form, .image-preview {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 20px;
}
img.preview {
    width: 200px;
    background-color: white;
    border: 1px solid #DDD;
    padding: 5px;
}

.img-responsive{
	position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    max-width:100%;
    max-height:100%;
    transform: translate(-50%, -50%);
}

 .organiz.disabled{
 	color: lightgray;
}
input[disabled] {
    color: #DCDAD1;
    
}

.cntBg input#brojLeta {
    background: #fff url('https://image.flaticon.com/icons/svg/890/890636.svg') 20px no-repeat;
    background-size: 18px 21px;
    background-position: 19px;
}

.cntBg input#brojLeta:focus {
    background: #fff url('https://image.flaticon.com/icons/svg/890/890636.svg') 20px no-repeat;
    background-size: 18px 21px;
    background-position: 19px;
}

.cntBg input#pocetnaDestinacija {
    background: #fff url('https://image.flaticon.com/icons/svg/2038/2038294.svg') 20px no-repeat;
    background-size: 18px 21px;
    background-position: 19px;
}

.cntBg input#pocetnaDestinacija:focus {
    background: #fff url('https://image.flaticon.com/icons/svg/2038/2038294.svg') 20px no-repeat;
    background-size: 18px 21px;
    background-position: 19px;
}
.cntBg input#cenaKarte {
    background: #fff url('https://image.flaticon.com/icons/svg/1420/1420341.svg') 20px no-repeat;
    background-size: 18px 21px;
    background-position: 19px;
}

.cntBg input#cenaKarte:focus {
    background: #fff url('https://image.flaticon.com/icons/svg/1420/1420341.svg') 20px no-repeat;
    background-size: 18px 21px;
    background-position: 19px;
}

.cntBg input#modelAviona {
    background: #fff url('https://image.flaticon.com/icons/svg/1077/1077903.svg') 20px no-repeat;
    background-size: 18px 21px;
    background-position: 19px;
}

.cntBg input#modelAviona:focus {
    background: #fff url('https://image.flaticon.com/icons/svg/1077/1077903.svg') 20px no-repeat;
    background-size: 18px 21px;
    background-position: 19px;
    
}.cntBg input#brojMestaBiznisKlasa {
    background: #fff url('https://www.flaticon.com/premium-icon/icons/svg/1059/1059604.svg') 20px no-repeat;
    background-size: 18px 21px;
    background-position: 19px;
}

.cntBg input#brojMestaBiznisKlasa:focus {
    background: #fff url('https://www.flaticon.com/premium-icon/icons/svg/1059/1059604.svg') 20px no-repeat;
    background-size: 18px 21px;
    background-position: 19px;
}

.cntBg input#klasaLeta {
    background: #fff url('https://image.flaticon.com/icons/svg/201/201623.svg') 20px no-repeat;
    background-size: 18px 21px;
    background-position: 19px;
}

.cntBg input#klasaLeta:focus {
    background: #fff url('https://image.flaticon.com/icons/svg/201/201623.svg') 20px no-repeat;
    background-size: 18px 21px;
    background-position: 19px;
    
}.cntBg input#krajnjaDestinacija {
    background: #fff url('https://image.flaticon.com/icons/svg/2038/2038294.svg') 20px no-repeat;
    background-size: 18px 21px;
    background-position: 19px;
}

.cntBg input#krajnjaDestinacija:focus {
    background: #fff url('https://image.flaticon.com/icons/svg/2038/2038294.svg') 20px no-repeat;
    background-size: 18px 21px;
    background-position: 19px;
}

.cntBg input#datumLeta {
    background: #fff url('https://image.flaticon.com/icons/svg/138/138791.svg') 20px no-repeat;
    background-size: 18px 21px;
    background-position: 19px;
}

.cntBg input#datumLeta:focus {
    background: #fff url('https://image.flaticon.com/icons/svg/138/138791.svg') 20px no-repeat;
    background-size: 18px 21px;
    background-position: 19px;
    
}.cntBg input#brojMestaPrvaKlasa {
    background: #fff url('https://www.flaticon.com/premium-icon/icons/svg/1059/1059604.svg') 20px no-repeat;
    background-size: 18px 21px;
    background-position: 19px;
}

.cntBg input#brojMestaPrvaKlasa:focus {
    background: #fff url('https://www.flaticon.com/premium-icon/icons/svg/1059/1059604.svg') 20px no-repeat;
    background-size: 18px 21px;
    background-position: 19px;
}

.cntBg input#brojMestaEkonomskaKlasa {
    background: #fff url('https://www.flaticon.com/premium-icon/icons/svg/1059/1059604.svg') 20px no-repeat;
    background-size: 18px 21px;
    background-position: 19px;
}

.cntBg input#brojMestaEkonomskaKlasa:focus {
    background: #fff url('https://www.flaticon.com/premium-icon/icons/svg/1059/1059604.svg') 20px no-repeat;
    background-size: 18px 21px;
    background-position: 19px;
}

.form-control1{
	display: block;
    width: 100%;
    height: 46px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#filteredit{
      color: #000000;
      }
 #filtertrash{
     color: #000000;
 }
 #filtersearch{
 	color: #000000;
 }
 
 .login-block input#datum {
    background: #fff url('https://image.flaticon.com/icons/svg/138/138791.svg') 20px no-repeat;
    background-size: 18px 21px;
    background-position: 19px;
}

.login-block input#datum:focus {
    background: #fff url('https://image.flaticon.com/icons/svg/138/138791.svg') 20px no-repeat;
    background-size: 18px 21px;
    background-position: 19px;
    
}

#slider {
  width: 400px;
  height: 17px;
  position: relative;
  margin: 100px auto;
  background: #10171D;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  -webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
  -moz-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
  box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
}
#slider .bar {
  width: 388px;
  height: 5px;
  background: #333;
  position: relative;
  top: -4px;
  left: 4px;
  background: #1d2e38;
  background: -moz-linear-gradient(left, #1d2e38 0%, #2b4254 50%, #2b4254 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #1d2e38), color-stop(50%, #2b4254), color-stop(100%, #2b4254));
  background: -webkit-linear-gradient(left, #1d2e38 0%, #2b4254 50%, #2b4254 100%);
  background: -o-linear-gradient(left, #1d2e38 0%, #2b4254 50%, #2b4254 100%);
  background: -ms-linear-gradient(left, #1d2e38 0%, #2b4254 50%, #2b4254 100%);
  background: linear-gradient(left, #1d2e38 0%, #2b4254 50%, #2b4254 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#1d2e38', endColorstr='#2b4254', GradientType=1);
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}
#slider .highlight {
  height: 2px;
  position: absolute;
  width: 388px;
  top: 6px;
  left: 6px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.25);
}
input[type="range"] {
  -webkit-appearance: none;
  background-color: black;
  height: 2px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  top: 0px;
  z-index: 1;
  width: 11px;
  height: 11px;
  cursor: pointer;
  -webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebf1f6), color-stop(50%, #abd3ee), color-stop(51%, #89c3eb), color-stop(100%, #d5ebfb));
}
input[type="range"]:hover ~ #rangevalue,
input[type="range"]:active ~ #rangevalue {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  top: -75px;
}
/* Tool Tip */

#rangevalue {
  color: white;
  font-size: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  display: block;
  color: #fff;
  margin: 20px 0;
  position: relative;
  left: 44.5%;
  padding: 6px 12px;
  border: 1px solid black;
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #222931), color-stop(100%, #181D21));
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  width: 18px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: -95px;
}
input[type="range"]:focus {
  outline: none;
}